<main>
    <section>
        <h2>Tela Principal</h2>
        <div id="directory">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>

        <div id="directory">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>

        <div id="directory">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>

        <div id="directory">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>

        <div id="directory">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>

        <div id="directory">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>

        <div id="directory">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>

        <div id="directory">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>

        <div id="directory">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>

        <!-- Arquivos -->
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        <div id="file">
            <a href="">icone</a>
            <p><a href="">Nome do Diretório</a></p>
        </div>
        

    </section>
</main>   