<aside>
   <div class="aside-wrapper">
        <h3>Detalhes da conta</h3>
        <p>Total de espaço: 10GB</p>

        <div class="ui yellow progress">
            <div class="bar" style="transition-duration: 300ms;width: 80%;"></div>
            <div class="label">80%</div>
        </div>
        
        <div class="section-aside">
            <form action="" class="ui form">
                <h4 class="ui dividing header">Compartilhar driver</h4>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Digite o email aqui"  name="email">
                </div>
                <div class="ui">
                    <button type="submit" class="positive ui button">Enviar</button>
                </div>
            </form>
        </div>
        
       <div class="section-aside">
            <h4>Compartilhados</h4>
            <ul>
                <li>Nenhum</li>
            </ul>
            <button type="submit" class="negative ui button">Editar Informações</button>
       </div>
        
   </div>
</aside>